### Filtering Background Giant Galaxies
The problem we faced when using photometric redshifts and magnitude to discriminate foreground dwarfs from bakground giants is that some background galaxies have similar photometric redshift and magnitude as some foreground dwarfs. If we had the spectroscopic redshifts (gold standard) of the same galaxies, we would be able to use the spectroscopic redshifts to differentiate the two groups. Unfortunately, there is a lack of spectroscopic redshifts in parts of the SDSS library. We need background galaxies with similar magnitudes as dwarf galaxies (15.5 to 16.5) as part of our testing data, to see if there are any other parameter we the use to differentiate the two groups.

In [1]:
import pandas as pd

### NGC 383

In [2]:
ngc383 = pd.read_csv('./complete/ngc383.csv')
ngc383.head()

,ObjectName,objID,ra,dec,run,rerun,camcol,field,type,modelMag_u,modelMag_g,modelMag_r,modelMag_i,modelMag_z,Redshift,RedshiftFlag
0,NGC0386,1237680315521302757,16.880417,32.361924,8112,301,4,36,GALAXY,16.70224,14.84254,14.00605,13.57142,13.22501,0.018533,NaN
1,SDSSJ010714.97+322204.7,1237680315521237929,16.812407,32.367995,8112,301,4,35,GALAXY,21.93794,22.84880,21.42741,20.35811,19.97164,0.489833,SPEC
2,2MASXJ01070798+3223335,1237680311772250504,16.783124,32.392580,8111,301,5,174,GALAXY,20.46482,18.56780,17.37289,16.87600,16.50400,0.153931,SPEC
3,SDSSJ010706.70+322257.6,1237680311772250496,16.777944,32.382681,8111,301,5,174,GALAXY,24.01941,20.65404,18.81966,18.14513,17.79100,0.367908,SPEC
4,UGC00679,1237680311772250464,16.765005,32.389555,8111,301,5,174,GALAXY,17.46509,16.28591,15.81043,15.55470,15.38543,0.016998,NaN

In [3]:
# Filter out foreground galaxies
ngc383_back = ngc383.loc[ngc383['Redshift'] > 0.0225]
ngc383_back.head()

,ObjectName,objID,ra,dec,run,rerun,camcol,field,type,modelMag_u,modelMag_g,modelMag_r,modelMag_i,modelMag_z,Redshift,RedshiftFlag
1,SDSSJ010714.97+322204.7,1237680315521237929,16.812407,32.367995,8112,301,4,35,GALAXY,21.93794,22.84880,21.42741,20.35811,19.97164,0.489833,SPEC
2,2MASXJ01070798+3223335,1237680311772250504,16.783124,32.392580,8111,301,5,174,GALAXY,20.46482,18.56780,17.37289,16.87600,16.50400,0.153931,SPEC
3,SDSSJ010706.70+322257.6,1237680311772250496,16.777944,32.382681,8111,301,5,174,GALAXY,24.01941,20.65404,18.81966,18.14513,17.79100,0.367908,SPEC
9,SDSSJ010703.19+321930.2,1237680315521237663,16.763305,32.325083,8112,301,4,35,GALAXY,25.59833,21.38473,19.53642,18.79010,18.56042,0.369380,SPEC
13,SDSSJ010759.25+322116.5,1237680311772381881,16.996915,32.354601,8111,301,5,176,GALAXY,22.88008,21.89237,20.29476,19.41445,19.10574,0.482480,SPEC

In [4]:
ngc383_back = ngc383_back.loc[(ngc383_back['modelMag_r'] > 15.5) & (ngc383_back['modelMag_r'] < 16.5)]
ngc383_back.head() # 26 background giants of NGC 383

,ObjectName,objID,ra,dec,run,rerun,camcol,field,type,modelMag_u,modelMag_g,modelMag_r,modelMag_i,modelMag_z,Redshift,RedshiftFlag
144,IVZw038NOTES15,1237680316058304809,17.322279,32.611307,8112,301,5,38,GALAXY,19.58102,17.45923,16.43703,16.01473,15.67513,0.066308,SPEC
185,WHLJ010942.8+321639,1237680315521499274,17.428386,32.277482,8112,301,4,39,GALAXY,19.28566,17.39932,16.30085,15.79945,15.38015,0.114700,SPEC
186,2MASXJ01094280+3216390,1237680315521499274,17.428386,32.277482,8112,301,4,39,GALAXY,19.28566,17.39932,16.30085,15.79945,15.38015,0.114346,SPEC
193,2MASXJ01094004+3213539,1237680315521499270,17.416991,32.231698,8112,301,4,39,GALAXY,19.38819,17.43331,16.35997,15.89763,15.51898,0.114950,SPEC
195,CGCG501-105,1237680316058304582,17.335133,32.722856,8112,301,5,38,GALAXY,17.69355,25.21871,16.13597,15.38638,14.74868,0.034811,NaN

### NGC 507

In [5]:
ngc507 = pd.read_csv('./complete/ngc507.csv')
ngc507.head()

,ObjectName,objID,ra,dec,run,rerun,camcol,field,type,modelMag_u,modelMag_g,modelMag_r,modelMag_i,modelMag_z,Redshift,RedshiftFlag
0,SDSSJ012353.87+331427.1,1237678892815680242,20.974469,33.240885,7781,301,2,71,GALAXY,23.21758,21.62203,20.08510,18.78316,17.92096,-0.000083,SPEC
1,SDSSJ012333.68+331927.2,1237678806920266492,20.890353,33.324232,7761,301,2,131,GALAXY,26.12337,21.41372,19.37147,18.79947,18.19681,0.409821,SPEC
2,NGC0503,1237678806920265786,20.868438,33.331831,7761,301,2,131,GALAXY,16.84275,14.96324,13.97122,13.60478,13.30377,0.019754,NaN
3,ARK039,1237678806920331477,20.993833,33.313239,7761,301,2,132,GALAXY,16.72783,14.85966,13.99030,13.56937,13.24555,0.016752,NaN
4,2MASXJ01234321+3321012,1237678806920266099,20.930123,33.350463,7761,301,2,131,GALAXY,20.60455,18.39374,16.98464,16.44493,16.05157,0.210722,SPEC

In [6]:
# Filter out foreground galaxies
ngc507_back = ngc507.loc[ngc507['Redshift'] > 0.0225]
ngc507_back.head()

,ObjectName,objID,ra,dec,run,rerun,camcol,field,type,modelMag_u,modelMag_g,modelMag_r,modelMag_i,modelMag_z,Redshift,RedshiftFlag
1,SDSSJ012333.68+331927.2,1237678806920266492,20.890353,33.324232,7761,301,2,131,GALAXY,26.12337,21.41372,19.37147,18.79947,18.19681,0.409821,SPEC
4,2MASXJ01234321+3321012,1237678806920266099,20.930123,33.350463,7761,301,2,131,GALAXY,20.60455,18.39374,16.98464,16.44493,16.05157,0.210722,SPEC
5,SDSSJ012407.98+331510.6,1237666214078251238,21.033283,33.252947,4829,301,2,163,GALAXY,21.12624,20.21909,19.73185,19.02049,19.40612,0.252881,SPEC
7,SDSSJ012318.29+331944.4,1237678806920265995,20.826225,33.328998,7761,301,2,131,GALAXY,25.67504,21.94152,20.48310,19.63610,19.06292,0.447988,SPEC
9,SDSSJ012411.21+331412.1,1237666214078251592,21.046733,33.236716,4829,301,2,163,GALAXY,21.99060,20.23011,18.97914,18.40113,18.09112,0.223496,SPEC

In [7]:
ngc507_back = ngc507_back.loc[(ngc507_back['modelMag_r'] > 15.5) & (ngc507_back['modelMag_r'] < 16.5)]
ngc507_back.head() # 4 background giants of NGC 507

,ObjectName,objID,ra,dec,run,rerun,camcol,field,type,modelMag_u,modelMag_g,modelMag_r,modelMag_i,modelMag_z,Redshift,RedshiftFlag
216,2MASXJ01255535+3326144,1237678806920462613,21.480752,33.437290,7761,301,2,134,GALAXY,18.29979,16.46347,15.52752,15.07844,14.71183,0.048904,NaN
444,2MASSJ01214086+3234102,1237666214614794639,20.420262,32.569480,4829,301,3,158,GALAXY,19.15909,17.32042,16.42331,15.97758,15.64607,0.057046,SPEC
462,2MASXJ01204408+3348062,1237666215152189969,20.183753,33.801752,4829,301,4,166,GALAXY,19.30202,17.41679,16.49582,16.04417,15.70154,0.083289,SPEC
545,2MASXJ01201261+3346571,1237678893352157469,20.052643,33.782586,7781,301,3,65,GALAXY,18.23597,16.84197,16.05707,15.58737,15.27323,0.084025,SPEC

### Perseus

In [8]:
# Foreground galaxies have already been filtered out
perseus_back = pd.read_csv('./complete/perseus-back.csv')
perseus_back.head()

,ObjectName,objID,ra,dec,run,rerun,camcol,field,type,modelMag_u,modelMag_g,modelMag_r,modelMag_i,modelMag_z,Redshift,RedshiftFlag
0,GALEXMSCJ031926.77+413303.4,1237661059574334542,49.863859,41.557747,3629,301,1,67,GALAXY,23.60963,21.96969,20.52132,19.56070,19.26017,0.236697,NaN
1,2MASXJ03194485+4123551,1237661122388033863,49.936755,41.398687,3643,301,6,64,GALAXY,20.67893,18.28918,17.12045,16.61930,16.25791,0.135237,SPEC
2,GALEXASCJ031946.16+413735.7,1237661059574334251,49.943267,41.626093,3629,301,1,67,GALAXY,23.67410,21.98481,21.13996,20.65190,20.28242,1.307000,NaN
3,ABELL0426:[CGW2003]19,1237661059574269819,49.789214,41.525355,3629,301,1,66,GALAXY,21.86663,20.70983,20.00357,19.60626,19.30804,0.225245,NaN
4,ABELL0426:[CGW2003]18,1237661059574270262,49.787360,41.545026,3629,301,1,66,GALAXY,22.58434,21.59503,20.98148,20.62204,20.37456,0.156461,NaN

In [9]:
perseus_back = perseus_back.loc[(perseus_back['modelMag_r'] > 15.5) & (perseus_back['modelMag_r'] < 16.5)]
perseus_back.head() # 5 giant background galaxies of Perseus with similar magnitude

,ObjectName,objID,ra,dec,run,rerun,camcol,field,type,modelMag_u,modelMag_g,modelMag_r,modelMag_i,modelMag_z,Redshift,RedshiftFlag
5,2MASSJ03190509+4128126,1237661055281725886,49.771221,41.470204,3628,301,1,103,GALAXY,18.21452,16.56214,15.72185,15.22267,14.77678,0.051851,SPEC
20,2MASXJ03221984+4115189,1237661059574595780,50.582846,41.255305,3629,301,1,71,GALAXY,18.17199,16.48770,15.59589,15.17375,14.82199,0.040445,SPEC
38,2MASXJ03233016+4133565,1237661060111467492,50.875649,41.565798,3629,301,2,71,GALAXY,19.43330,17.15020,16.10726,15.63498,15.16970,0.048957,SPEC
39,2MASXJ03212782+4052199,1237661083199537291,50.366150,40.872238,3634,301,5,111,GALAXY,17.55768,16.24460,15.55624,15.13622,14.87237,0.052054,SPEC
48,2MASXJ03233837+4150195,1237661056355729567,50.909961,41.838857,3628,301,3,107,GALAXY,19.43691,25.10749,16.15054,15.50511,15.13052,0.048673,SPEC

In [10]:
background = ngc383_back.append(ngc507_back, ignore_index=True)
background = background.append(perseus_back, ignore_index=True)
str = 'Number of background galaxies with similar magnitude as foreground dwarfs: ' + str(len(background.index))
background.head()

,ObjectName,objID,ra,dec,run,rerun,camcol,field,type,modelMag_u,modelMag_g,modelMag_r,modelMag_i,modelMag_z,Redshift,RedshiftFlag
0,IVZw038NOTES15,1237680316058304809,17.322279,32.611307,8112,301,5,38,GALAXY,19.58102,17.45923,16.43703,16.01473,15.67513,0.066308,SPEC
1,WHLJ010942.8+321639,1237680315521499274,17.428386,32.277482,8112,301,4,39,GALAXY,19.28566,17.39932,16.30085,15.79945,15.38015,0.114700,SPEC
2,2MASXJ01094280+3216390,1237680315521499274,17.428386,32.277482,8112,301,4,39,GALAXY,19.28566,17.39932,16.30085,15.79945,15.38015,0.114346,SPEC
3,2MASXJ01094004+3213539,1237680315521499270,17.416991,32.231698,8112,301,4,39,GALAXY,19.38819,17.43331,16.35997,15.89763,15.51898,0.114950,SPEC
4,CGCG501-105,1237680316058304582,17.335133,32.722856,8112,301,5,38,GALAXY,17.69355,25.21871,16.13597,15.38638,14.74868,0.034811,NaN

In [11]:
print(str)

Number of background galaxies with similar magnitude as foreground dwarfs: 35

In [12]:
# Export appended list
background.to_csv(r'./complete/background.csv', index=False)

### Increased Search Radius of Perseus
A datasets of 35 background galaxies is far from enough to train a machine learning model. We want to increase the dataset by performing a search with bigger radius around Perseus in SDSS.