In [12]:
import pandas as pd

In [13]:
ngc383_all = pd.read_csv('./complete/ngc383.csv')
ngc383_all.head()

,ObjectName,objID,ra,dec,run,rerun,camcol,field,type,modelMag_u,modelMag_g,modelMag_r,modelMag_i,modelMag_z,Redshift,RedshiftFlag
0,NGC0386,1237680315521302757,16.880417,32.361924,8112,301,4,36,GALAXY,16.70224,14.84254,14.00605,13.57142,13.22501,0.018533,NaN
1,SDSSJ010714.97+322204.7,1237680315521237929,16.812407,32.367995,8112,301,4,35,GALAXY,21.93794,22.84880,21.42741,20.35811,19.97164,0.489833,SPEC
2,2MASXJ01070798+3223335,1237680311772250504,16.783124,32.392580,8111,301,5,174,GALAXY,20.46482,18.56780,17.37289,16.87600,16.50400,0.153931,SPEC
3,SDSSJ010706.70+322257.6,1237680311772250496,16.777944,32.382681,8111,301,5,174,GALAXY,24.01941,20.65404,18.81966,18.14513,17.79100,0.367908,SPEC
4,UGC00679,1237680311772250464,16.765005,32.389555,8111,301,5,174,GALAXY,17.46509,16.28591,15.81043,15.55470,15.38543,0.016998,NaN

In [14]:
# Filter out galaxies in the foreground of NGC 383
ngc383_back = ngc383_all.loc[(ngc383_all['Redshift'] < 0.0125) | (ngc383_all['Redshift'] > 0.0225)]
ngc383_back.head()

,ObjectName,objID,ra,dec,run,rerun,camcol,field,type,modelMag_u,modelMag_g,modelMag_r,modelMag_i,modelMag_z,Redshift,RedshiftFlag
1,SDSSJ010714.97+322204.7,1237680315521237929,16.812407,32.367995,8112,301,4,35,GALAXY,21.93794,22.84880,21.42741,20.35811,19.97164,0.489833,SPEC
2,2MASXJ01070798+3223335,1237680311772250504,16.783124,32.392580,8111,301,5,174,GALAXY,20.46482,18.56780,17.37289,16.87600,16.50400,0.153931,SPEC
3,SDSSJ010706.70+322257.6,1237680311772250496,16.777944,32.382681,8111,301,5,174,GALAXY,24.01941,20.65404,18.81966,18.14513,17.79100,0.367908,SPEC
8,SDSSJ010700.04+322915.4,1237680311772250433,16.750169,32.487616,8111,301,5,174,GALAXY,26.08187,21.93169,20.38479,19.28344,18.73079,-0.000148,SPEC
9,SDSSJ010703.19+321930.2,1237680315521237663,16.763305,32.325083,8112,301,4,35,GALAXY,25.59833,21.38473,19.53642,18.79010,18.56042,0.369380,SPEC

In [15]:
ngc383_back = ngc383_back.loc[(ngc383_back['modelMag_r'] > 15.5) & (ngc383_back['modelMag_r'] < 16.5)]
ngc383_back.head()
# 27 background giants of NGC 383

,ObjectName,objID,ra,dec,run,rerun,camcol,field,type,modelMag_u,modelMag_g,modelMag_r,modelMag_i,modelMag_z,Redshift,RedshiftFlag
144,IVZw038NOTES15,1237680316058304809,17.322279,32.611307,8112,301,5,38,GALAXY,19.58102,17.45923,16.43703,16.01473,15.67513,0.066308,SPEC
185,WHLJ010942.8+321639,1237680315521499274,17.428386,32.277482,8112,301,4,39,GALAXY,19.28566,17.39932,16.30085,15.79945,15.38015,0.114700,SPEC
186,2MASXJ01094280+3216390,1237680315521499274,17.428386,32.277482,8112,301,4,39,GALAXY,19.28566,17.39932,16.30085,15.79945,15.38015,0.114346,SPEC
193,2MASXJ01094004+3213539,1237680315521499270,17.416991,32.231698,8112,301,4,39,GALAXY,19.38819,17.43331,16.35997,15.89763,15.51898,0.114950,SPEC
195,CGCG501-105,1237680316058304582,17.335133,32.722856,8112,301,5,38,GALAXY,17.69355,25.21871,16.13597,15.38638,14.74868,0.034811,NaN

In [16]:
ngc507_all = pd.read_csv('./complete/ngc507.csv')
ngc507_all.head()

,ObjectName,objID,ra,dec,run,rerun,camcol,field,type,modelMag_u,modelMag_g,modelMag_r,modelMag_i,modelMag_z,Redshift,RedshiftFlag
0,SDSSJ012353.87+331427.1,1237678892815680242,20.974469,33.240885,7781,301,2,71,GALAXY,23.21758,21.62203,20.08510,18.78316,17.92096,-0.000083,SPEC
1,SDSSJ012333.68+331927.2,1237678806920266492,20.890353,33.324232,7761,301,2,131,GALAXY,26.12337,21.41372,19.37147,18.79947,18.19681,0.409821,SPEC
2,NGC0503,1237678806920265786,20.868438,33.331831,7761,301,2,131,GALAXY,16.84275,14.96324,13.97122,13.60478,13.30377,0.019754,NaN
3,ARK039,1237678806920331477,20.993833,33.313239,7761,301,2,132,GALAXY,16.72783,14.85966,13.99030,13.56937,13.24555,0.016752,NaN
4,2MASXJ01234321+3321012,1237678806920266099,20.930123,33.350463,7761,301,2,131,GALAXY,20.60455,18.39374,16.98464,16.44493,16.05157,0.210722,SPEC

In [17]:
# Filter out galaxies in the foreground of NGC 507
ngc507_back = ngc507_all.loc[(ngc507_all['Redshift'] < 0.0125) | (ngc507_all['Redshift'] > 0.0225)]
ngc507_back.head()

,ObjectName,objID,ra,dec,run,rerun,camcol,field,type,modelMag_u,modelMag_g,modelMag_r,modelMag_i,modelMag_z,Redshift,RedshiftFlag
0,SDSSJ012353.87+331427.1,1237678892815680242,20.974469,33.240885,7781,301,2,71,GALAXY,23.21758,21.62203,20.08510,18.78316,17.92096,-0.000083,SPEC
1,SDSSJ012333.68+331927.2,1237678806920266492,20.890353,33.324232,7761,301,2,131,GALAXY,26.12337,21.41372,19.37147,18.79947,18.19681,0.409821,SPEC
4,2MASXJ01234321+3321012,1237678806920266099,20.930123,33.350463,7761,301,2,131,GALAXY,20.60455,18.39374,16.98464,16.44493,16.05157,0.210722,SPEC
5,SDSSJ012407.98+331510.6,1237666214078251238,21.033283,33.252947,4829,301,2,163,GALAXY,21.12624,20.21909,19.73185,19.02049,19.40612,0.252881,SPEC
7,SDSSJ012318.29+331944.4,1237678806920265995,20.826225,33.328998,7761,301,2,131,GALAXY,25.67504,21.94152,20.48310,19.63610,19.06292,0.447988,SPEC

In [18]:
ngc507_back = ngc507_back.loc[(ngc507_back['modelMag_r'] > 15.5) & (ngc507_back['modelMag_r'] < 16.5)]
ngc507_back.head()
# 4 background giants of NGC 507

,ObjectName,objID,ra,dec,run,rerun,camcol,field,type,modelMag_u,modelMag_g,modelMag_r,modelMag_i,modelMag_z,Redshift,RedshiftFlag
216,2MASXJ01255535+3326144,1237678806920462613,21.480752,33.437290,7761,301,2,134,GALAXY,18.29979,16.46347,15.52752,15.07844,14.71183,0.048904,NaN
444,2MASSJ01214086+3234102,1237666214614794639,20.420262,32.569480,4829,301,3,158,GALAXY,19.15909,17.32042,16.42331,15.97758,15.64607,0.057046,SPEC
462,2MASXJ01204408+3348062,1237666215152189969,20.183753,33.801752,4829,301,4,166,GALAXY,19.30202,17.41679,16.49582,16.04417,15.70154,0.083289,SPEC
545,2MASXJ01201261+3346571,1237678893352157469,20.052643,33.782586,7781,301,3,65,GALAXY,18.23597,16.84197,16.05707,15.58737,15.27323,0.084025,SPEC

In [20]:
background = ngc383_back.append(ngc507_back, ignore_index=True)
background.head()
# 31 background galaxies in total

,ObjectName,objID,ra,dec,run,rerun,camcol,field,type,modelMag_u,modelMag_g,modelMag_r,modelMag_i,modelMag_z,Redshift,RedshiftFlag
0,IVZw038NOTES15,1237680316058304809,17.322279,32.611307,8112,301,5,38,GALAXY,19.58102,17.45923,16.43703,16.01473,15.67513,0.066308,SPEC
1,WHLJ010942.8+321639,1237680315521499274,17.428386,32.277482,8112,301,4,39,GALAXY,19.28566,17.39932,16.30085,15.79945,15.38015,0.114700,SPEC
2,2MASXJ01094280+3216390,1237680315521499274,17.428386,32.277482,8112,301,4,39,GALAXY,19.28566,17.39932,16.30085,15.79945,15.38015,0.114346,SPEC
3,2MASXJ01094004+3213539,1237680315521499270,17.416991,32.231698,8112,301,4,39,GALAXY,19.38819,17.43331,16.35997,15.89763,15.51898,0.114950,SPEC
4,CGCG501-105,1237680316058304582,17.335133,32.722856,8112,301,5,38,GALAXY,17.69355,25.21871,16.13597,15.38638,14.74868,0.034811,NaN

In [21]:
# Export appended list
background.to_csv(r'./complete/background.csv', index=False)