In [1]:
import pandas as pd

In [6]:
ngc383_all = pd.read_csv('./complete/ngc383.csv')
ngc383_all.head()

,ObjectName,objID,ra,dec,run,rerun,camcol,field,type,modelMag_u,modelMag_g,modelMag_r,modelMag_i,modelMag_z,Redshift,RedshiftFlag
0,NGC0386,1237680315521302757,16.880417,32.361924,8112,301,4,36,GALAXY,16.70224,14.84254,14.00605,13.57142,13.22501,0.018533,NaN
1,SDSSJ010714.97+322204.7,1237680315521237929,16.812407,32.367995,8112,301,4,35,GALAXY,21.93794,22.84880,21.42741,20.35811,19.97164,0.489833,SPEC
2,2MASXJ01070798+3223335,1237680311772250504,16.783124,32.392580,8111,301,5,174,GALAXY,20.46482,18.56780,17.37289,16.87600,16.50400,0.153931,SPEC
3,SDSSJ010706.70+322257.6,1237680311772250496,16.777944,32.382681,8111,301,5,174,GALAXY,24.01941,20.65404,18.81966,18.14513,17.79100,0.367908,SPEC
4,UGC00679,1237680311772250464,16.765005,32.389555,8111,301,5,174,GALAXY,17.46509,16.28591,15.81043,15.55470,15.38543,0.016998,NaN

In [9]:
#df.loc[(df['column_name'] >= A) & (df['column_name'] <= B)]
ngc383 = ngc383_all.loc[(ngc383_all['Redshift'] > 0.0125) & (ngc383_all['Redshift'] < 0.0225)]
ngc383.head()
# 68 foreground galaxies in total

,ObjectName,objID,ra,dec,run,rerun,camcol,field,type,modelMag_u,modelMag_g,modelMag_r,modelMag_i,modelMag_z,Redshift,RedshiftFlag
0,NGC0386,1237680315521302757,16.880417,32.361924,8112,301,4,36,GALAXY,16.70224,14.84254,14.00605,13.57142,13.22501,0.018533,NaN
4,UGC00679,1237680311772250464,16.765005,32.389555,8111,301,5,174,GALAXY,17.46509,16.28591,15.81043,15.55470,15.38543,0.016998,NaN
5,2MASXJ01071026+3220485,1237680315521237319,16.792826,32.346872,8112,301,4,35,GALAXY,18.74607,17.03549,16.28892,15.90131,15.58982,0.014160,NaN
6,NGC0375,1237680315521237284,16.774668,32.348110,8112,301,4,35,GALAXY,16.99012,15.20521,14.38410,13.94480,13.61873,0.019530,NaN
7,NGC0385,1237680315521302536,16.863444,32.319864,8112,301,4,36,GALAXY,15.59707,13.66765,12.78422,12.34903,12.08402,0.016595,NaN

In [11]:
ngc383_dwarf = ngc383.loc[(ngc383['modelMag_r'] > 15.5) & (ngc383['modelMag_r'] < 16.5)]
ngc383_dwarf.head()
# 18 foreground dwarfs in total

,ObjectName,objID,ra,dec,run,rerun,camcol,field,type,modelMag_u,modelMag_g,modelMag_r,modelMag_i,modelMag_z,Redshift,RedshiftFlag
4,UGC00679,1237680311772250464,16.765005,32.389555,8111,301,5,174,GALAXY,17.46509,16.28591,15.81043,15.55470,15.38543,0.016998,NaN
5,2MASXJ01071026+3220485,1237680315521237319,16.792826,32.346872,8112,301,4,35,GALAXY,18.74607,17.03549,16.28892,15.90131,15.58982,0.014160,NaN
16,2MASXJ01064452+3225074,1237680311772250198,16.685466,32.418586,8111,301,5,174,GALAXY,18.68646,17.02711,16.25918,15.87417,15.60222,0.020514,NaN
22,LCSBS0169O,1237680315521302864,16.966691,32.256108,8112,301,4,36,GALAXY,18.19989,16.57700,15.77055,15.38624,15.10587,0.018193,NaN
29,2MASXJ01081590+3229567,1237680311772381486,17.066149,32.499011,8111,301,5,176,GALAXY,18.66414,16.91150,16.11959,15.70180,15.43588,0.018373,NaN

In [20]:
ngc507_all = pd.read_csv('./complete/ngc507.csv')
ngc507_all.head()

,ObjectName,objID,ra,dec,run,rerun,camcol,field,type,modelMag_u,modelMag_g,modelMag_r,modelMag_i,modelMag_z,Redshift,RedshiftFlag
0,SDSSJ012353.87+331427.1,1237678892815680242,20.974469,33.240885,7781,301,2,71,GALAXY,23.21758,21.62203,20.08510,18.78316,17.92096,-0.000083,SPEC
1,SDSSJ012333.68+331927.2,1237678806920266492,20.890353,33.324232,7761,301,2,131,GALAXY,26.12337,21.41372,19.37147,18.79947,18.19681,0.409821,SPEC
2,NGC0503,1237678806920265786,20.868438,33.331831,7761,301,2,131,GALAXY,16.84275,14.96324,13.97122,13.60478,13.30377,0.019754,NaN
3,ARK039,1237678806920331477,20.993833,33.313239,7761,301,2,132,GALAXY,16.72783,14.85966,13.99030,13.56937,13.24555,0.016752,NaN
4,2MASXJ01234321+3321012,1237678806920266099,20.930123,33.350463,7761,301,2,131,GALAXY,20.60455,18.39374,16.98464,16.44493,16.05157,0.210722,SPEC

In [22]:
ngc507 = ngc507_all.loc[(ngc507_all['Redshift'] > 0.0125) & (ngc507_all['Redshift'] < 0.0225)]
ngc507.head()
# 65 foreground galaxies in total

,ObjectName,objID,ra,dec,run,rerun,camcol,field,type,modelMag_u,modelMag_g,modelMag_r,modelMag_i,modelMag_z,Redshift,RedshiftFlag
2,NGC0503,1237678806920265786,20.868438,33.331831,7761,301,2,131,GALAXY,16.84275,14.96324,13.97122,13.60478,13.30377,0.019754,NaN
3,ARK039,1237678806920331477,20.993833,33.313239,7761,301,2,132,GALAXY,16.72783,14.85966,13.99030,13.56937,13.24555,0.016752,NaN
6,2MASXJ01235909+3319541,1237678806920331280,20.996039,33.331501,7761,301,2,132,GALAXY,17.97698,16.33028,15.53946,15.15866,14.85466,0.014974,NaN
8,IC1690,1237678892815679817,20.956412,33.156236,7781,301,2,71,GALAXY,16.83667,14.89132,14.03542,13.61219,13.23823,0.015464,NaN
13,2MASXJ01232343+3322542,1237678806920266014,20.847690,33.381690,7761,301,2,131,GALAXY,17.98633,16.29919,15.50038,15.10680,14.81529,0.016278,NaN

In [23]:
ngc507_dwarf = ngc507.loc[(ngc507['modelMag_r'] > 15.5) & (ngc507['modelMag_r'] < 16.5)]
ngc507_dwarf.head()
# 8 foreground dwarfs in total

,ObjectName,objID,ra,dec,run,rerun,camcol,field,type,modelMag_u,modelMag_g,modelMag_r,modelMag_i,modelMag_z,Redshift,RedshiftFlag
6,2MASXJ01235909+3319541,1237678806920331280,20.996039,33.331501,7761,301,2,132,GALAXY,17.97698,16.33028,15.53946,15.15866,14.85466,0.014974,NaN
13,2MASXJ01232343+3322542,1237678806920266014,20.847690,33.381690,7761,301,2,131,GALAXY,17.98633,16.29919,15.50038,15.10680,14.81529,0.016278,NaN
102,2MASXJ01221171+3326573,1237666214615187800,20.548924,33.449178,4829,301,3,164,GALAXY,18.12462,16.39652,15.57168,15.15758,14.85880,0.014523,NaN
213,2MASXJ01211822+3309310,1237678806383198451,20.325855,33.158667,7761,301,1,128,GALAXY,18.10275,16.42097,15.66346,15.29284,15.01112,0.013629,NaN
281,2MASXJ01222353+3348541,1237666214615384350,20.597911,33.814961,4829,301,3,167,GALAXY,18.60388,16.79941,15.96700,15.55546,15.24304,0.017108,NaN
344,GALEXASCJ012037.86+333326.7,1237666215152124183,20.157197,33.557072,4829,301,4,165,GALAXY,18.07755,16.73291,16.38611,16.20226,16.23081,0.017792,NaN
400,KUG0121+337A,1237678893889356163,21.025537,34.012674,7781,301,4,70,GALAXY,17.70496,16.84615,16.48475,16.43348,16.30444,0.022259,NaN
463,2MFGC01042,1237666214615450070,20.621600,34.040015,4829,301,3,168,GALAXY,17.73596,16.32991,15.62074,15.22157,14.94078,0.016398,NaN

In [25]:
dwarfs = ngc383_dwarf.append(ngc507_dwarf, ignore_index=True)
dwarfs.head()
# 26 dwarfs in total

,ObjectName,objID,ra,dec,run,rerun,camcol,field,type,modelMag_u,modelMag_g,modelMag_r,modelMag_i,modelMag_z,Redshift,RedshiftFlag
0,UGC00679,1237680311772250464,16.765005,32.389555,8111,301,5,174,GALAXY,17.46509,16.28591,15.81043,15.55470,15.38543,0.016998,NaN
1,2MASXJ01071026+3220485,1237680315521237319,16.792826,32.346872,8112,301,4,35,GALAXY,18.74607,17.03549,16.28892,15.90131,15.58982,0.014160,NaN
2,2MASXJ01064452+3225074,1237680311772250198,16.685466,32.418586,8111,301,5,174,GALAXY,18.68646,17.02711,16.25918,15.87417,15.60222,0.020514,NaN
3,LCSBS0169O,1237680315521302864,16.966691,32.256108,8112,301,4,36,GALAXY,18.19989,16.57700,15.77055,15.38624,15.10587,0.018193,NaN
4,2MASXJ01081590+3229567,1237680311772381486,17.066149,32.499011,8111,301,5,176,GALAXY,18.66414,16.91150,16.11959,15.70180,15.43588,0.018373,NaN

In [26]:
# Export appended list
dwarfs.to_csv(r'./complete/dwarfs.csv', index=False)