In [4]:
import pandas as pd

In [6]:
#Since the advatnage of SVM is that it is 
#very effective in high dimensional spaces,
#We will not use PCA on the training sets 
#to reduce the number of dimensions for SVM

#From all the PhotoObj parameters, for the first run we'll be using all 
#parameters that are not RA, DEC and Errors.
#Due to that we have edited the PhotoObj parameter to only include 
#the parameters that are usefull for our classification attempt with SVM
    
#Opening the selected param text file 
svmParam = open('./params/sdss-params-nl.txt','r')
    
svmList = svmParam.readlines()
svmParam.close()

#Convert the selected param text file into a more readible format for
#crossID which wants no new lines containing only a ',' to sepereate
#parameters
svmParam_no_nl = open("./params/sdss-params-no-nl.txt","w+")

for n in svmList:
    svmParam_no_nl.write(n.replace('\n',''))

svmParam_no_nl.readlines()
    
svmParam_no_nl.close()

SQL used to grab all the PhotoObj parameters that are relevant based on the sdss_params_no_nl.txt file. This SQL works but be patient, it takes a while to grab all the parameter for each element. All the magnitudes in this SQL search have ben de-reded by subtracting the respective extinction value from it.

```SQL
SELECT 
(p.psfMag_u - p.extinction_u) as psfMag_u0,(p.psfMag_g - p.extinction_g) as psfMag_g0,(p.psfMag_r - p.extinction_r) as psfMag_r0,(p.psfMag_i - p.extinction_i) as psfMag_i0,(p.psfMag_z - p.extinction_z) as psfMag_z0,(p.fiberMag_u - p.extinction_u) as fiberMag_u0,(p.fiberMag_g - p.extinction_g) as fiberMag_g0,(p.fiberMag_r - p.extinction_r) as fiberMag_r0,(p.fiberMag_i - p.extinction_i) as fiberMag_i0,(p.fiberMag_z - p.extinction_z) as fiberMag_z0,(p.fiber2Mag_u - p.extinction_u) as fiber2Mag_u0,(p.fiber2Mag_g - p.extinction_g) as fiber2Mag_g0,(p.fiber2Mag_r - p.extinction_r) as fiber2Mag_r0,(p.fiber2Mag_i - p.extinction_i) as fiber2Mag_i0,(p.fiber2Mag_z - p.extinction_z) as fiber2Mag_z0,(p.petroMag_u - p.extinction_u) as petroMag_u0,(p.petroMag_g - p.extinction_g) as petroMag_g0,(p.petroMag_r - p.extinction_r) as petroMag_r0,(p.petroMag_i - p.extinction_i) as petroMag_i0,(p.petroMag_z - p.extinction_z) as petroMag_z0,p.petroRad_u,p.petroRad_g,p.petroRad_r,p.petroRad_i,p.petroRad_z,p.petroR50_u,p.petroR50_g,p.petroR50_r,p.petroR50_i,p.petroR50_z,p.petroR90_u,p.petroR90_g,p.petroR90_r,p.petroR90_i,p.petroR90_z,p.q_u,p.q_g,p.q_r,p.q_i,p.q_z,p.u_u,p.u_g,p.u_r,p.u_i,p.u_z,p.mE1_u,p.mE1_g,p.mE1_r,p.mE1_i,p.mE1_z,p.mE2_u,p.mE2_g,p.mE2_r,p.mE2_i,p.mE2_z,p.mRrCc_u,p.mRrCc_g,p.mRrCc_r,p.mRrCc_i,p.mRrCc_z,p.mCr4_u,p.mCr4_g,p.mCr4_r,p.mCr4_i,p.mCr4_z,p.mE1PSF_u,p.mE1PSF_g,p.mE1PSF_r,p.mE1PSF_i,p.mE1PSF_z,p.mE2PSF_u,p.mE2PSF_g,p.mE2PSF_r,p.mE2PSF_i,p.mE2PSF_z,p.mRrCcPSF_u,p.mRrCcPSF_g,p.mRrCcPSF_r,p.mRrCcPSF_i,p.mRrCcPSF_z,p.mCr4PSF_u,p.mCr4PSF_g,p.mCr4PSF_r,p.mCr4PSF_i,p.mCr4PSF_z,p.deVRad_u,p.deVRad_g,p.deVRad_r,p.deVRad_i,p.deVRad_z,p.deVAB_u,p.deVAB_g,p.deVAB_r,p.deVAB_i,p.deVAB_z,(p.deVMag_u - p.extinction_u) as deVMag_u0,(p.deVMag_g - p.extinction_g) as deVMag_g0,(p.deVMag_r - p.extinction_r) as deVMag_r0,(p.deVMag_i - p.extinction_i) as deVMag_i0,(p.deVMag_z - p.extinction_z) as deVMag_z0,p.expRad_u,p.expRad_g,p.expRad_r,p.expRad_i,p.expRad_z,p.expAB_u,p.expAB_g,p.expAB_r,p.expAB_i,p.expAB_z,(p.expMag_u - p.extinction_u) as expMag_u0,(p.expMag_g - p.extinction_g) as expMag_g0,(p.expMag_r - p.extinction_r) as expMag_r0,(p.expMag_i - p.extinction_i) as expMag_i0,(p.expMag_z - p.extinction_z) as expMag_z0,(p.cModelMag_u - p.extinction_u) as cModelMag_u0,(p.cModelMag_g - p.extinction_g) as cModelMag_g0,(p.cModelMag_r - p.extinction_r) as cModelMag_r0,(p.cModelMag_i - p.extinction_i) as cModelMag_i0,(p.cModelMag_z - p.extinction_z) as cModelMag_z0,p.aperFlux7_u,p.aperFlux7_g,p.aperFlux7_r,p.aperFlux7_i,p.aperFlux7_z,p.fracDeV_u,p.fracDeV_g,p.fracDeV_r,p.fracDeV_i,p.fracDeV_z,p.ra,p.dec,p.dered_u,p.dered_g,p.dered_r,p.dered_i,p.dered_z
FROM #upload u
      JOIN #x x ON x.up_id = u.up_id
      JOIN PhotoObj p ON p.objID = x.objID 
ORDER BY x.up_id
```

In [7]:
#Now we go back to SDSS crossid with this paramList & the two 
#foreground and background data set and retrieve all the
#parameters

#First need to extract only name, RA, DEC from the two data sets
#for SDSS CrossID
base_foreground = pd.read_csv('./complete/dwarfs.csv')
base_foreground.head()

,objID,ra,dec,run,rerun,camcol,field,type,u0,g0,r0,i0,z0,Redshift
0,1237680311772250464,16.765005,32.389555,8111,301,5,174,GALAXY,17.14250,16.04856,15.63828,15.42416,15.29288,0.016998
1,1237680315521237319,16.792826,32.346872,8112,301,4,35,GALAXY,18.42509,16.79932,16.11763,15.77143,15.49772,0.014160
2,1237680311772250198,16.685466,32.418586,8111,301,5,174,GALAXY,18.37703,16.79943,16.09405,15.74896,15.51344,0.020514
3,1237680315521302864,16.966691,32.256108,8112,301,4,36,GALAXY,17.90406,16.35933,15.61268,15.26653,15.02099,0.018193
4,1237680311772381486,17.066149,32.499011,8111,301,5,176,GALAXY,18.33514,16.66942,15.94401,15.56867,15.34149,0.018373

In [8]:
cross_id_foreground = base_foreground[['objID','ra','dec']]
cross_id_foreground.head()

                 objID         ra        dec
0  1237680311772250464  16.765005  32.389555
1  1237680315521237319  16.792826  32.346872
2  1237680311772250198  16.685466  32.418586
3  1237680315521302864  16.966691  32.256108
4  1237680311772381486  17.066149  32.499011

In [10]:
base_background = pd.read_csv('./complete/background.csv')
base_background.head()

,ObjectName,objID,ra,dec,run,rerun,camcol,field,type,u0,g0,r0,i0,z0,Redshift,RedshiftFlag
0,2MASXJ01070798+3223335,1237680311772250504,16.783124,32.392580,8111,301,5,174,GALAXY,20.13362,18.32410,17.19614,16.74197,16.40898,0.153931,SPEC
1,2MASXJ01065749+3213214,1237680315521237275,16.739504,32.222824,8112,301,4,35,GALAXY,18.94812,17.26759,16.39990,15.94577,15.60334,0.114617,SPEC
2,IVZw038NOTES01,1237680311772250292,16.624039,32.507760,8111,301,5,174,GALAXY,20.15441,18.22609,17.11155,16.65807,16.33635,0.153832,SPEC
3,2MASXJ01082662+3229109,1237680311772381566,17.110951,32.486381,8111,301,5,176,GALAXY,19.56098,17.58059,16.57519,16.14223,15.82258,0.111395,SPEC
4,IVZw038NOTES03,1237680316058107970,16.737807,32.622441,8112,301,5,35,GALAXY,18.35271,16.36183,15.47458,15.03607,14.70395,0.066042,NaN

In [11]:
cross_id_background = base_background[['objID','ra','dec']]
cross_id_background.head()

                 objID         ra        dec
0  1237680311772250504  16.783124  32.392580
1  1237680315521237275  16.739504  32.222824
2  1237680311772250292  16.624039  32.507760
3  1237680311772381566  17.110951  32.486381
4  1237680316058107970  16.737807  32.622441

In [12]:
#Exporting the two files to use in CROSSID
cross_id_foreground.to_csv(r'./cross-id/final-dwarfs.csv', index=False)
cross_id_background.to_csv(r'./cross-id/final-background.csv', index=False)

SQL query for SDSS to generate test data of Perseus cluster:

```SQL
SELECT
p.objID, p.ra, p.dec, (p.psfMag_u - p.extinction_u) as psfMag_u0,(p.psfMag_g - p.extinction_g) as psfMag_g0,(p.psfMag_r - p.extinction_r) as psfMag_r0,(p.psfMag_i - p.extinction_i) as psfMag_i0,(p.psfMag_z - p.extinction_z) as psfMag_z0,(p.fiberMag_u - p.extinction_u) as fiberMag_u0,(p.fiberMag_g - p.extinction_g) as fiberMag_g0,(p.fiberMag_r - p.extinction_r) as fiberMag_r0,(p.fiberMag_i - p.extinction_i) as fiberMag_i0,(p.fiberMag_z - p.extinction_z) as fiberMag_z0,(p.fiber2Mag_u - p.extinction_u) as fiber2Mag_u0,(p.fiber2Mag_g - p.extinction_g) as fiber2Mag_g0,(p.fiber2Mag_r - p.extinction_r) as fiber2Mag_r0,(p.fiber2Mag_i - p.extinction_i) as fiber2Mag_i0,(p.fiber2Mag_z - p.extinction_z) as fiber2Mag_z0,(p.petroMag_u - p.extinction_u) as petroMag_u0,(p.petroMag_g - p.extinction_g) as petroMag_g0,(p.petroMag_r - p.extinction_r) as petroMag_r0,(p.petroMag_i - p.extinction_i) as petroMag_i0,(p.petroMag_z - p.extinction_z) as petroMag_z0,p.petroRad_u,p.petroRad_g,p.petroRad_r,p.petroRad_i,p.petroRad_z,p.petroR50_u,p.petroR50_g,p.petroR50_r,p.petroR50_i,p.petroR50_z,p.petroR90_u,p.petroR90_g,p.petroR90_r,p.petroR90_i,p.petroR90_z,p.q_u,p.q_g,p.q_r,p.q_i,p.q_z,p.u_u,p.u_g,p.u_r,p.u_i,p.u_z,p.mE1_u,p.mE1_g,p.mE1_r,p.mE1_i,p.mE1_z,p.mE2_u,p.mE2_g,p.mE2_r,p.mE2_i,p.mE2_z,p.mRrCc_u,p.mRrCc_g,p.mRrCc_r,p.mRrCc_i,p.mRrCc_z,p.mCr4_u,p.mCr4_g,p.mCr4_r,p.mCr4_i,p.mCr4_z,p.mE1PSF_u,p.mE1PSF_g,p.mE1PSF_r,p.mE1PSF_i,p.mE1PSF_z,p.mE2PSF_u,p.mE2PSF_g,p.mE2PSF_r,p.mE2PSF_i,p.mE2PSF_z,p.mRrCcPSF_u,p.mRrCcPSF_g,p.mRrCcPSF_r,p.mRrCcPSF_i,p.mRrCcPSF_z,p.mCr4PSF_u,p.mCr4PSF_g,p.mCr4PSF_r,p.mCr4PSF_i,p.mCr4PSF_z,p.deVRad_u,p.deVRad_g,p.deVRad_r,p.deVRad_i,p.deVRad_z,p.deVAB_u,p.deVAB_g,p.deVAB_r,p.deVAB_i,p.deVAB_z,(p.deVMag_u - p.extinction_u) as deVMag_u0,(p.deVMag_g - p.extinction_g) as deVMag_g0,(p.deVMag_r - p.extinction_r) as deVMag_r0,(p.deVMag_i - p.extinction_i) as deVMag_i0,(p.deVMag_z - p.extinction_z) as deVMag_z0,p.expRad_u,p.expRad_g,p.expRad_r,p.expRad_i,p.expRad_z,p.expAB_u,p.expAB_g,p.expAB_r,p.expAB_i,p.expAB_z,(p.expMag_u - p.extinction_u) as expMag_u0,(p.expMag_g - p.extinction_g) as expMag_g0,(p.expMag_r - p.extinction_r) as expMag_r0,(p.expMag_i - p.extinction_i) as expMag_i0,(p.expMag_z - p.extinction_z) as expMag_z0,(p.cModelMag_u - p.extinction_u) as cModelMag_u0,(p.cModelMag_g - p.extinction_g) as cModelMag_g0,(p.cModelMag_r - p.extinction_r) as cModelMag_r0,(p.cModelMag_i - p.extinction_i) as cModelMag_i0,(p.cModelMag_z - p.extinction_z) as cModelMag_z0,p.aperFlux7_u,p.aperFlux7_g,p.aperFlux7_r,p.aperFlux7_i,p.aperFlux7_z,p.fracDeV_u,p.fracDeV_g,p.fracDeV_r,p.fracDeV_i,p.fracDeV_z,p.dered_u,p.dered_g,p.dered_r,p.dered_i,p.dered_z
FROM PhotoObj AS p
WHERE 
   p.dered_r BETWEEN 15.5 AND 16.5
   AND p.ra BETWEEN (49.94-0.75) AND (49.94+0.75)
   AND p.dec BETWEEN (41.51-0.75) AND (41.51+0.75)
   AND p.type = 3
```